<launch>
	<env name="ROS_IP" value="$(env ROS_IP)" />
  <env name="ROS_MASTER_URI" value="$(env ROS_MASTER_URI)" />

	<node name="driver" pkg="jaybot" type="driver_node.py" />
	<node name="movement_logic" pkg="jaybot" type="movement_logic.py" />
	<node name="sonar_array" pkg="jaybot" type="avoidance.py" />
	<node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" />
</launch>
