.idea
venv
RoverController/.vs/
catkin_ws_test/
RoverController/RoverController/obj/
RoverController/RoverController/bin/Debug/
jaybot_ws/build/
jaybot_ws/devel/
.vscode
*.pyc
remote_ws/build/
remote_ws/devel/
remote_ws/src/RPLidar_Hector_SLAM
