[submodule "RoverController/ros-sharp"]
	path = RoverController/ros-sharp
	url = https://github.com/siemens/ros-sharp
[submodule "jaybot_ws/src/raspicam_node"]
	path = jaybot_ws/src/raspicam_node
	url = https://github.com/UbiquityRobotics/raspicam_node
[submodule "hector_ws/src/hector_slam"]
	path = hector_ws/src/hector_slam
	url = https://github.com/EvanBrown96/hector_slam
[submodule "mexplore-ws/src/m-explore"]
	path = mexplore-ws/src/m-explore
	url = https://github.com/hrnr/m-explore
