<launch>

	<arg name="machine_name" />
	<arg name="ip_addr" />



	<machine name="$(arg machine_name)" address="$(arg ip_addr)" user="pmr" env-loader="~/JayBotsDT/jaybot_ws/devel/env_good.sh" default="true" />

	<node name="driver" pkg="jaybot" type="driver_node.py" />
	<node name="movement_logic" pkg="jaybot" type="movement_logic.py" />
	<node machine="$(arg machine_name)" name="sonar_array" pkg="jaybot" type="avoidance.py" />

	<include file="$(find rplidar_ros)/launch/rplidar.launch" />

</launch>
