<launch>

	<arg name="machine_name"/>
	<arg name="ip_addr"/>

	<group ns="$(arg machine_name)">
		<!-- launch hector_slam on local machine -->
		<include file="$(dirname)/mapping_default.launch">
			<arg name="machine_name" value="$(arg machine_name)"/>
		</include>

		<!-- launch path_create on local machine -->
		<node name="path_create" pkg="remote_app" type="path_create.py"/>

		<!-- everything else on remote machine -->
		<machine name="$(arg machine_name)" address="$(arg ip_addr)" user="pmr" env-loader="~/JayBotsDT/jaybot_ws/devel/env_good.sh" default="true"/>

		<!--<node name="driver" pkg="jaybot" type="driver_node.py"/>-->
		<node name="movement_logic" pkg="jaybot" type="movement_logic.py"/>
		<!--<node name="sonar_array" pkg="jaybot" type="avoidance.py"/>-->
		<!--<node name="blinker" pkg="jaybot" type="blinker.py"/>-->

		<include file="$(dirname)/rplidar.launch">
			<arg name="machine_name" value="$(arg machine_name)"/>
		</include>
		<include file="$(dirname)/camera.launch" pass_all_args="true"/>
	</group>

</launch>
