<launch>
  <!-- kill the launch file if ROS_IP and ROS_MASTER_URI are not set -->
  <env name="ROS_IP" value="$(env ROS_IP)" />
  <env name="ROS_MASTER_URI" value="$(env ROS_MASTER_URI)" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <node pkg="remote_app" type="launcher.py" name="launcher" required="true" />

</launch>
